<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.camerakit.camerakit_flutter">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- To remove following exception add HIGH_SAMPLING_RATE_SENSORS permission:
         java.lang.SecurityException: To use the sampling rate of 0 microseconds,
         app needs to declare the normal permission HIGH_SAMPLING_RATE_SENSORS.
         Ref: https://jis-eurasipjournals.springeropen.com/articles/10.1186/s13635-017-0061-8 -->
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />

</manifest>
